{% extends 'base.html' %}
{% block css %}
<style>
    #pdf-viewer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    canvas {
        margin: 10px;
        border: 1px solid #ddd;
    }

    #pagination-controls {
        margin-top: 10px;
    }

    button {
        margin: 0 5px;
    }


</style>
{% endblock css %}

{% block content %}
<!-- Content -->
<div class="container mt-5">
    <div class="row">
        {% for i in folder_files %}
        <div class="col-md-4">
            <div class="custom-div" onclick="get_pdf_file('{{i.file.url}}')">
                <i class='fas fa-music' style='font-size:36px'></i>
                <h2 class="mt-3">{{i.index_title}}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="col-lg-9 order-lg-2 order-1">
    <div id="nav-buttons">
        <button id="prev-page">Previous</button>
        <button id="next-page">Next</button>
    </div>

    <div id="page-num">
        Page <span id="current-page"></span> of <span id="total-pages"></span>
    </div>

    <div id="zoom-controls">
        <button id="zoom-out">-</button>
        <button id="zoom-reset">Reset</button>
        <button id="zoom-in">+</button>
    </div>

    <div id="pdf-container"></div>
</div>
</div>
{% endblock content %}

{% block js %}
<script src="https://unpkg.com/pdfjs-dist@2/build/pdf.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>


<script>

// Global variables

let pdfInstance;

let currentPage = 1;

let totalPages = 0;

let currentZoom = 1.5;


// PDF.js configuration

const pdfjsLib = window['pdfjs-dist/build/pdf'];


// Function to render a specific page

function renderPage(pageNumber) {

pdfInstance.getPage(pageNumber).then(page => {

const canvas = document.createElement('canvas');

const context = canvas.getContext('2d');


// Set the canvas dimensions to match the PDF page

const viewport = page.getViewport({ scale: currentZoom });

canvas.width = viewport.width;

canvas.height = viewport.height;


// Render the PDF page into the canvas

const renderContext = {

    canvasContext: context,

    viewport: viewport

};

page.render(renderContext).promise.then(() => {

    // Append the canvas to the PDF container

    const pdfContainer = document.getElementById('pdf-container');

    pdfContainer.innerHTML = '';

    pdfContainer.appendChild(canvas);

    });

    });

}


// Function to update the page number display

function updatePageNumber() {

document.getElementById('current-page').textContent = currentPage;

document.getElementById('total-pages').textContent = totalPages;

}


// Function to go to the previous page

function goToPreviousPage() {

    if (currentPage <= 1) return;

    currentPage--;

    renderPage(currentPage);

    updatePageNumber();

}


// Function to go to the next page

function goToNextPage() {

    if (currentPage >= totalPages) return;

    currentPage++;

    renderPage(currentPage);

    updatePageNumber();

}


// Function to zoom in

function zoomIn() {

    currentZoom += 0.1;

    renderPage(currentPage);

}


// Function to zoom out

function zoomOut() {

    if (currentZoom <= 0.1) return;

    currentZoom -= 0.1;

    renderPage(currentPage);

}


// Function to reset zoom

function resetZoom() {

    currentZoom = 1.5;

    renderPage(currentPage);

}


// Load the PDF document

function get_index(index_id){
    var url = '/get_index_pdf/'+index_id+'/';
    var myObject = {
          'index_id':index_id,
    }

    $.ajax({
        url: url,
        method: 'GET',
        data: myObject,
        success: function (response) {
            var responseData = response;
            if(responseData.msg == 'success'){
                console.log(responseData.pdf,'-------------pdf_path')
                pdfjsLib.getDocument(responseData.pdf).promise.then(pdf => {
                    pdfInstance = pdf;
                    totalPages = pdf.numPages;
                    updatePageNumber();
                    renderPage(currentPage);
                });

            }
        },
        error: function (xhr, status, error) {
            // Handle error here
            console.log(error);
        }
    });

}


// Event listeners for navigation buttons

document.getElementById('prev-page').addEventListener('click', goToPreviousPage);

document.getElementById('next-page').addEventListener('click', goToNextPage);


// Event listeners for zoom controls

document.getElementById('zoom-in').addEventListener('click', zoomIn);

document.getElementById('zoom-out').addEventListener('click', zoomOut);

document.getElementById('zoom-reset').addEventListener('click', resetZoom);



</script>

{% endblock js %}
