{% extends 'base.html' %}

{% block content %}
<div class="mx-auto col-lg-6">

    <h1>Privacy Policy</h1>
    <p>Effective date: March 5, 2024</p>

    <h2>Introduction</h2>
    <p>Welcome to Nidhivanras ("us", "we", or "our"). We are committed to protecting your personal information and your
        right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your
        personal information, please contact us.</p>

    <h2>Information We Collect</h2>
    <p>We do not collect any personal information on this website.</p>

    <h2>How We Use Your Information</h2>
    <p>Since we do not collect any personal information, we do not use it in any way.</p>

    <h2>Third-Party Links</h2>
    <p>This website may contain links to third-party websites. We have no control over the privacy practices or the
        content
        of any of our business partners, advertisers, sponsors, or other websites to which we provide links. As such, we
        are
        not responsible for the content or the privacy policies of those third-party websites. You should check the
        applicable third-party privacy policy and terms of use when visiting any other websites.</p>

    <h2>Changes to Our Privacy Policy</h2>
    <p>We reserve the right to modify this privacy policy at any time. If we make material changes to this policy, we
        may
        notify you on our website, by a blog post, by email, or by any method we determine. The method we chose is at
        our
        sole discretion. We will also change the "Last Updated" date at the beginning of this Privacy Policy. Any
        changes we
        make to our privacy policy are effective as of this Last Updated date and replace any prior privacy
        policies.</p>

    <h2>Contact Us</h2>
    <p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us at
        info@nidhivanras.in.</p>
</div>
{% endblock content %}

{% block js %}
{% endblock js %}

