{% extends 'base.html' %}

{% block content %}

<!-- Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="custom-div">
                <i class='fas fa-book-open' style='font-size:36px'></i>
                <h2 class="mt-3">E Book</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4" onclick="audio_list();">
            <div class="custom-div">
                <i class='fas fa-music' style='font-size:36px'></i>
                <h2 class="mt-3">Audio</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-div">
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <h2 class="mt-3">Pravachan</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-div">
                <i class="fa fa-video-camera" style="font-size:36px"></i>
                <h2 class="mt-3">Videos</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-div">
                <i class='fas fa-stream' style='font-size:36px'></i>
                <h2 class="mt-3">Live</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-div">
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <h2 class="mt-3">Vichar</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
        function audio_list(){
            window.location.href = '/audio/';
        }
</script>
{% endblock js %}
