{% extends 'base.html' %}

{% block content %}

{% for video in videos %}
<div>
    <h2>{{ video.snippet.title }}</h2>
    <p>{{ video.snippet.description }}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.id.videoId }}" frameborder="0" allowfullscreen></iframe>
</div>
{% endfor %}

<!-- Content -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="custom-div" onclick="book_list();">
                <i class='fas fa-book-open' style='font-size:36px'></i>
                <h2 class="mt-3">किताब </h2>
            </div>
        </div>

        <div class="col-md-4" onclick="audio_list();">
            <div class="custom-div">
                <i class='fas fa-music' style='font-size:36px'></i>
                <h2 class="mt-3">समाज गायन</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4" onclick="pravachan_list();">
            <div class="custom-div">
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <h2 class="mt-3">प्रवचन</h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-div" onclick="videos_list()">
                <i class="fa fa-video-camera" style="font-size:36px"></i>
                <h2 class="mt-3">वीडियो </h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4">
            <div class="custom-div">
                <i class='fas fa-stream' style='font-size:36px'></i>
                <h2 class="mt-3">लाइव </h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>

        <div class="col-md-4" onclick="vichar_list()">
            <div class="custom-div">
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <h2 class="mt-3">सुविचार </h2>
                <!-- Content for div 1 goes here -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script>
        function audio_list(){
            window.location.href = '/audio/';
        }

        function videos_list(){
            window.location.href = '/video/';
        }

        function pravachan_list(){
            window.location.href = '/pravachan/';
        }

        function vichar_list(){
            window.location.href = '/vichar/';
        }
        function book_list(){
            window.location.href = '/book/';
        }

</script>
{% endblock js %}
